In [3]:
import pandas as pd
import numpy as np

In [4]:
#se carga el data frame
df = pd.read_csv('./datasets_calificaciones.csv')
df

         estudiante      Materia Parcial 1 Parcial 2 Final Asistencia
0         ana pérez  matematicas         8       7.5     9        95%
1      carlos lópez       fisica       6.2         7   NaN        88%
2       maría gómez      quimica         9       8.8   9.5       100%
3   pedro rodríguez     historia       7.5         6     7         75
4      laura vargas  matematicas                 9.2   8.5        92%
..              ...          ...       ...       ...   ...        ...
95  josefina torres     historia       7.4       6.8   7.2        81%
96  bautista vargas  matematicas       8.7       NaN   8.5        92%
97        emma soto       fisica       6.6       7.0   6.4        83%
98       mateo díaz      quimica       9.5       9.7              98%
99  sofía fernández     historia       7.1       7.6   7.5        87%

[100 rows x 6 columns]

In [6]:
#info basica del df
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estudiante  100 non-null    object
 1   Materia     100 non-null    object
 2   Parcial 1   95 non-null     object
 3   Parcial 2   90 non-null     object
 4   Final       89 non-null     object
 5   Asistencia  100 non-null    object
dtypes: object(6)
memory usage: 4.8+ KB

          estudiante      Materia Parcial 1 Parcial 2 Final Asistencia
count            100          100        95        90    89        100
unique            96            7        49        45    46         35
top     joaquín ruiz  matematicas                 7.5   9.5        99%
freq               2           25         7         5     4          5

In [ ]:
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estudiante  100 non-null    object
 1   Materia     100 non-null    object
 2   Parcial 1   95 non-null     object
 3   Parcial 2   90 non-null     object
 4   Final       89 non-null     object
 5   Asistencia  100 non-null    object
dtypes: object(6)
memory usage: 4.8+ KB

          estudiante      Materia Parcial 1 Parcial 2 Final Asistencia
count            100          100        95        90    89        100
unique            96            7        49        45    46         35
top     joaquín ruiz  matematicas                 7.5   9.5        99%
freq               2           25         7         5     4          5

In [7]:
df.tail()

         estudiante      Materia Parcial 1 Parcial 2 Final Asistencia
95  josefina torres     historia       7.4       6.8   7.2        81%
96  bautista vargas  matematicas       8.7       NaN   8.5        92%
97        emma soto       fisica       6.6       7.0   6.4        83%
98       mateo díaz      quimica       9.5       9.7              98%
99  sofía fernández     historia       7.1       7.6   7.5        87%

In [16]:
print(f'shape: {df.shape}')
print(f'columns: {df.columns}')

print(f'dtypes: {df.dtypes}')

shape: (100, 6)
columns: Index(['estudiante', 'Materia', 'Parcial 1', 'Parcial 2', 'Final',
       'Asistencia'],
      dtype='object')
dtypes: estudiante    object
Materia       object
Parcial 1     object
Parcial 2     object
Final         object
Asistencia    object
dtype: object

In [ ]:
#contar valores nulos por columna
df.isnull().sum()

estudiante     0
Materia        0
Parcial 1      5
Parcial 2     10
Final         11
Asistencia     0
dtype: int64